.img{
    height: 25vh;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.bookedTimeContainer{
    margin:2vh 0 1vh 0;
    background-color: #EEEEEE;
    padding: 0.5vw;
    border-radius: 10px;
}

.roomDetails{
    margin:1vh 0 2vh 0;
    background-color: #EEEEEE;
    padding: 1vw;
    border-radius: 10px;
}

.roomDetails p{
    margin-bottom: 0.6px;
}

.roomDetails a{
    font-size: 0.8em;
}

.buttonContainer{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}