.resortList {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

@media screen and (max-width: 900px) {
  .resortList {
    margin-right: 2px;
    margin-left: 2px;
  }

  .resortList_Card {
    padding: 0;
  }
}
