.Header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  justify-content: space-between;
  z-index: 2;
}

.Header .logo {
  /* width: 50%; */
  width: 90px;
  height: 50px;
}

.Header .menu:hover {
  /* background-color: #1890ff !important; */
  background-color: #8bc34a !important;
}

.Header .desktopView {
  display: block;
}

.Header .mobileView {
  display: none;
}

.Header .menuContainer {
  width: 100%;
  height: 100vh;
  position: fixed;
  color: white;
  /* background: #001529; */
  background-color: #001529f0;
  left: 0;
}

.Header .menuContainer ul {
  list-style: none;
  padding: 0;
}

.Header .menuContainer ul li {
  padding: 10px 20px;
  color: white;
}

.Header .menuContainer ul li:hover {
  /* background-color: #1890ff; */
  background-color: #8bc34a;
}

@media screen and (max-width: 767px) {
  .Header .desktopView {
    display: none;
  }

  .Header .mobileView {
    display: block;
  }
}
