.App {
  background-color: #f3f2f1;
}

.ant-card-body {
  background-color: #f6f6f6;
  padding: 10px !important;
  border-radius: 15px;
}

.ant-layout-footer {
  background: #c4c4c4 !important;
}
main.ant-layout-content {
  background-color: #f3f2f1 !important;
}

.ant-rate {
  font-size: 13px !important;
}

.ant-card-cover img {
  border-radius: 15px 15px 0 0 !important;
}

.cursor {
  cursor: pointer;
}

a,
a:hover {
  color: black !important;
}

.ant-btn.ant-dropdown-trigger {
  color: rgba(0, 0, 0, 0.85);
}

.ant-btn.ant-dropdown-trigger:hover {
  color: black;
}

.ant-dropdown.ant-dropdown-placement-bottomCenter {
  width: 35%;
}

.mySwiper {
  width: 100%;
  height: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  color: #8bc34a !important;
}
.width0 {
  width: 0;
}

.widthFull {
  width: 100%;
}

